/*
Lección 3: Tarea de posicionamiento con CSS. Todo el trabajo debe hacerse en este archivo, por lo que si estás tocando cualquier otro
archivo en cualquiera de estas carpetas, estás en el lugar equivocado.
*/

/* Ejercicio 1: Centrar el texto en un span */

/* Arrancaremos este ejercicio por vos: */
#ejercicioUno 

    #ejercicioUno{
        background: #FFFFFF;
        text-align: center;
        border: #CCCCCC 2px solid;
        width: 250px;
        height: 100px;
        }



/* Ejercicio 2: Posicionar el header */

/* Acá va tu código */

/* esto seria el codigo en el css */
 #ejercicioDos{
    margin:0;
    padding:0;
    }
     

header {
    width: 100%;
    height: 60px;
    background-color: #141616;
    z-index: 0;
    border-bottom: 1px solid #383838;
    color: #FFFFFF !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    } 

  /* Ejercicio 3: */

/* Acá va tu código */

 #ejercicioTres {
    position: relative;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    border-bottom-width: 0;
    box-sizing: border-box;
     }


/* Ejercicio 4: */

/* Acá va tu código */
#ejercicioCuatro {
    position: relative;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200;
    border-bottom-width: 0;
    box-sizing: border-box;
    
  }


/* Ejercicio 5: */

/* Acá va tu código */

.ejercicioCinco {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
  flex-flow: row wrap;
  flex-direction: row;
  }

/* Ejercicio 6. */
.ejercicioSeis {
    display: flex;
    justify-content: flex-start;
  }